.classpath
bin/
gen/
.settings/
*.apk
x86_64-linux/
i386-linux/
*.so
obj/
local.properties
*.log
*.swp
*.ini
build.xml
lint.xml
convert2
sm
out/
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/


