# for all
*~
*.log
*.swp
*.ini
*.cfg
tmp/

# java
.classpath
bin/
gen/

# eclipse
.settings/

# android
*.apk
*.so
obj/
local.properties
build.xml
lint.xml

# python
*.pyc

# lazarus
x86_64-linux/
i386-linux/
i386-win32/
core
*.~p*

# jetbrains
out/
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/
.idea/codeStyleSettings.xml

# windows
*.exe
*.dll

# in projects
preview_generator
roottools_client
expect.sh

