<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.yugioh.android"
        android:versionCode="200"
        android:versionName="ver 3.6">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/Theme.Yugioh"
            android:name=".YuGiOhApplication">
        <meta-data
                android:name="release-date"
                android:value="2016.06.16" />
        <meta-data
                android:name="database-version"
                android:value="106" />

        <activity
                android:name=".SplashActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustUnspecified">

        </activity>
        <activity
                android:name=".CardInfoActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".UpdateActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".CoinDiceActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Transparent"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:screenOrientation="portrait"
                android:theme="@style/StyleAbout"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".PackageCardsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".DeckCardActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                />
        <activity
                android:name=".FeedbackActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".SearchResultActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <provider
                android:name="com.yugioh.android.database.YugiohProvider"
                android:authorities="com.yugioh.card"
                android:exported="true" />
        <provider
                android:name="com.yugioh.android.database.FavProvider"
                android:authorities="com.yugioh.fav"
                android:exported="true" />
    </application>

</manifest>