<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yugioh.android"
          android:versionCode="34"
          android:versionName="ver 2.2.0">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">
        <meta-data
                android:name="release-date"
                android:value="2013.10.07"/>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CardInfoActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".UpdateActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".CoinDiceActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Transparent"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".PackageCardsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".DeckCardActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                />
        <activity android:name=".FeedbackActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".AutoNameActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateVisible"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>

        <provider
                android:name="com.yugioh.android.database.YugiohProvider"
                android:authorities="com.yugioh.card"
                android:exported="true"/>
        <provider android:name="com.yugioh.android.database.FavProvider"
                  android:authorities="com.yugioh.fav"
                  android:exported="true"/>
    </application>

</manifest>