<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.snda.root.datamgr" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".MainActivity" android:label="@string/app_name"
			android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="SNDA.ROOT" />
				<category android:name="android.intent.category.OPENABLE" />
			</intent-filter>
		</activity>
		<activity android:name=".ReportActivity" android:label="@string/report_name"
			android:screenOrientation="portrait" />
		<activity android:name=".SettingsActivity"
			android:screenOrientation="portrait" />
		<activity android:name=".HelpActivity"
			android:screenOrientation="portrait" />
	</application>
	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 
