<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.snda.root.sapp.manager" android:versionCode="2"
	android:versionName="1.5">
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".MainActivity" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="SNDA.ROOT" />
				<category android:name="android.intent.category.OPENABLE" />
			</intent-filter>
		</activity>
		<activity android:name=".AppDetailActivity" android:label="@string/app_detail"
			android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".SelectApkActivity" android:label="@string/app_select"
			android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".SettingsActivity" android:label="@string/app_settings"
			android:configChanges="orientation|keyboardHidden" />

		<activity android:name="AboutActivity" android:label=""
			android:theme="@android:style/Theme.Dialog" android:configChanges="orientation|keyboardHidden" />
	</application>

</manifest>