<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.rarnu.tools.root"
        android:versionCode="758"
        android:versionName="6.7.4">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17" />

    <permission
            android:name="android.permission.ROOT_TOOLS"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
            android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ROOT_TOOLS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:name=".RootApplication"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:persistent="true"
            android:theme="@android:style/Theme.Holo">
        <meta-data
                android:name="debug"
                android:value="false" />

        <activity
                android:name=".SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:theme="@style/Transparent"
                android:screenOrientation="portrait"
                android:exported="true">
        </activity>
        <activity
                android:name=".fragmentactivity.UserFeedbackActivity"
                android:label="@string/feedback"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.AboutActivity"
                android:label="@string/about"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.SystemComponentActivity"
                android:label="@string/busybox"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.SysappMainActivity"
                android:label="@string/func1_title"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.SysappDetailActivity"
                android:label="@string/sysapp_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
                android:name=".fragmentactivity.SysappSelectApkActivity"
                android:label="@string/sysapp_select"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.SettingsActivity"
                android:label="@string/cat_settings"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.CleanCacheMainActivity"
                android:label="@string/func6_title"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.EnableappMainActivity"
                android:label="@string/func2_title"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.HtcRomActivity"
                android:label="@string/clean_htc_rom"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.CompMainActivity"
                android:label="@string/func4_title"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.CompPackageInfoActivity"
                android:label="@string/component_list"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.MemMainActivity"
                android:label="@string/func5_title"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.MemProcessActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.PasswordSecActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.PasswordInputActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.PoolActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.InstallApkActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.ShareActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.ChangePermissionActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.HostMainActivity"
                android:screenOrientation="portrait"
                android:label="@string/func7_title"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.HostAddActivity"
                android:screenOrientation="portrait"
                android:label="@string/host_add"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.MemIgnoreActivity"
                android:screenOrientation="portrait"
                android:label="@string/kill_ignore_list"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.CustomCleanManagerActivity"
                android:screenOrientation="portrait"
                android:label="@string/custom_app_clean"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.HostEditActivity"
                android:screenOrientation="portrait"
                android:label="@string/manual_edit_hosts"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.HostDeprecatedActivity"
                android:screenOrientation="portrait"
                android:label="@string/clean_deprecated_hosts"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.RecommandActivity"
                android:screenOrientation="portrait"
                android:label="@string/short_recommand"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.DataappReportActivity"
                android:screenOrientation="portrait"
                android:label="@string/operation_result"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.DataBackupActivity"
                android:screenOrientation="portrait"
                android:label="@string/func3_title"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.DataRestoreActivity"
                android:screenOrientation="portrait"
                android:label="@string/func3p_title"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.TerminalActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_terminal"
                android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
                android:name=".fragmentactivity.HardUpdateActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_hardupdate"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.DiskInfoActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_diskinfo"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.FileSystemActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_filesystem"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.TextEditorActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.BatchAppsActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_batch_app"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.FirewallActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_firewall"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.BuildTeamActivity"
                android:screenOrientation="portrait"
                android:label="@string/build_team"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.GoogleActivity"
                android:screenOrientation="portrait"
                android:label="@string/google"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.RemainedFilesActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_remained_files"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.FontsActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_fonts"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.PasswordMgrActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_password"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.UpdateActivity"
                android:screenOrientation="portrait"
                android:label="@string/check_update"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.PasswordChangeSecActivity"
                android:screenOrientation="portrait"
                android:label="@string/change_sec_password"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.PasswordDetailActivity"
                android:screenOrientation="portrait"
                android:label="@string/pdetail_title"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.ReplaceFileActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_replace_files"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.BuildPropActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_build_prop"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.BuildPropEditActivity"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.ColorTempActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_color_temp"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.FileTransferActivity"
                android:screenOrientation="portrait"
                android:label="@string/func_file_transfer"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".fragmentactivity.SelectSendFileActivity"
                android:screenOrientation="portrait"
                android:label="@string/ft_select_send_file"
                android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
                android:name=".fragmentactivity.SelectAPActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                android:label="@string/ft_select_ap">
        </activity>
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:screenOrientation="portrait"
                android:noHistory="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101000413" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:screenOrientation="portrait">
        </activity>

        <service
                android:name=".service.HtcRomService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.DataBackupService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.DataRestoreService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.CleanBackupService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.BatchInstallService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.BatchUninstallService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.FloatWidgetService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.AutoCleanMemoryService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.WidgetKeepService"
                android:label="@string/app_name">
        </service>
        <service
                android:name=".service.ScreenService"
                android:label="@string/app_name">
        </service>

        <receiver
                android:name="com.rarnu.devlib.component.NetworkReceiver"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
                android:name=".receiver.NotifyReceiver"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.rarnu.root.tools.notify" />
            </intent-filter>
        </receiver>
        <receiver
                android:name=".receiver.BootReceiver"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
                android:name=".receiver.ScreenReceiver"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
                android:name=".desktop.RootToolsWidget4x1"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rarnu.root.tools.widget.clean" />
                <action android:name="com.rarnu.root.tools.widget.launch" />
                <action android:name="com.rarnu.root.tools.widget.clean.finish" />
                <action android:name="com.rarnu.root.tools.widget.keep" />

            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_provider_4x1" />
        </receiver>

        <receiver
                android:name=".desktop.RootToolsWidget1x1"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rarnu.root.tools.widget.clean" />
                <action android:name="com.rarnu.root.tools.widget.clean.finish" />
                <action android:name="com.rarnu.root.tools.widget.keep" />

            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_provider_1x1" />
        </receiver>

        <receiver
                android:name=".receiver.WechatReceiver"
                android:label="@string/app_name"
                android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <provider
                android:authorities="com.rarnu.tools.root.password"
                android:name=".database.PasswordProvider">
        </provider>

    </application>

</manifest>
