<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rarnu.tools.root"
    android:versionCode="40"
    android:versionName="4.5beta" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.ROOT_TOOLS" />

    <permission
        android:name="android.permission.ROOT_TOOLS"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />

    <application
        android:name=".RootApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme.Holo" >
        <meta-data
            android:name="debug"
            android:value="true" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.UserFeedbackActivity"
            android:label="@string/feedback"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.AboutActivity"
            android:label="@string/about"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.BusyboxActivity"
            android:label="@string/busybox"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.SysappMainActivity"
            android:label="@string/func1_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.SysappDetailActivity"
            android:label="@string/sysapp_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".fragmentactivity.SysappSelectApkActivity"
            android:label="@string/sysapp_select"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.SettingsActivity"
            android:label="@string/cat_settings"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.CleanCacheMainActivity"
            android:label="@string/func6_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.EnableappMainActivity"
            android:label="@string/func2_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.HtcRomActivity"
            android:label="@string/clean_htc_rom"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.CompMainActivity"
            android:label="@string/func4_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.CompPackageInfoActivity"
            android:label="@string/component_list"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.MemMainActivity"
            android:label="@string/func5_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.MemProcessActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.HostMainActivity"
            android:label="@string/func7_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.HostAddActivity"
            android:label="@string/host_add"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.MemIgnoreActivity"
            android:label="@string/kill_ignore_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.CustomCleanManagerActivity"
            android:label="@string/custom_app_clean"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.HostEditActivity"
            android:label="@string/manual_edit_hosts"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.HostDeprecatedActivity"
            android:label="@string/clean_deprecated_hosts"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.RecommandActivity"
            android:label="@string/short_recommand"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.DataappReportActivity"
            android:label="@string/operation_result"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.DataBackupActivity"
            android:label="@string/func3_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.DataRestoreActivity"
            android:label="@string/func3p_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".fragmentactivity.TerminalActivity"
            android:label="@string/func_terminal"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".fragmentactivity.HardUpdateActivity"
            android:label="@string/func_hardupdate"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name=".service.HtcRomService"
            android:label="@string/app_name" />
        <service
            android:name=".service.DataBackupService"
            android:label="@string/app_name" />
        <service
            android:name=".service.DataRestoreService"
            android:label="@string/app_name" />
        <service
            android:name=".service.CleanBackupService"
            android:label="@string/app_name" />

        <receiver
            android:name="com.rarnu.devlib.component.NetworkReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotifyReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.rarnu.root.tools.notify" />
            </intent-filter>
        </receiver>
    </application>

</manifest>