<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.snda.root.bcm" android:versionCode="2"
	android:versionName="2.0">
	<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"></uses-permission>
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".MainActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="SNDA.ROOT" />
				<category android:name="android.intent.category.OPENABLE" />
			</intent-filter>
		</activity>

		<activity android:name=".PackageInfoActivity" android:label="@string/packageinfo_name"
			android:screenOrientation="portrait" />

	</application>
	<uses-sdk android:minSdkVersion="8" />

</manifest> 