<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbbs.me.android"
    android:versionCode="8"
    android:versionName="beta0.5.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SbbsMeApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SbbsMeTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.SelectLoginDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".dialog.ArticleMenuDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".dialog.ConfirmDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".dialog.ShareDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".dialog.SelectPictureDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".dialog.SendMessageDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".dialog.UpdateInfoDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".UserDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TagArticleListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CodeViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".EditBlockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".BigPictureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PrivateMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ViewMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".service.MessageReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.sbbs.me.action.check_message" />
                <action android:name="com.sbbs.me.action.check_update" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.UpdateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.sbbs.action.update.click" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.MessageClickReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.sbbs.action.message.click" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".database.GithubProvider"
            android:authorities="com.sbbsme.github"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".database.PrivateMessageProvider"
            android:authorities="com.sbbsme.message"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>