<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.snda.root.hosts" android:versionCode="1"
	android:versionName="1.0.3">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:description="@string/app_desc" android:debuggable="true">
		<activity android:name=".MainActivity" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="SNDA.ROOT" />
				<category android:name="android.intent.category.OPENABLE" />
			</intent-filter>
		</activity>

		<activity android:name=".CustomizeActivity" android:label="@string/customize_title"
			android:configChanges="orientation|keyboardHidden" />
	</application>
	<uses-sdk android:minSdkVersion="8" />
</manifest> 
